.product-boxes {
      width: 100%;
      max-width: 1490px;
      padding: 0 32px;
      margin: 0 auto;
      margin-top: 30px;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      row-gap: 40px;
      column-gap: 30px;
}

@media screen and (max-width: 1279px) {
      .product-boxes {
            grid-template-columns: repeat(4, 1fr);
            row-gap: 40px;
            column-gap: 8px;
      }
}

@media screen and (max-width: 1199px) {
      .product-boxes {
            padding: 0 15px;
      }
}

@media screen and (max-width: 767px) {
      .product-boxes {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 25px;
            column-gap: 8px;
      }
}