.header {
      background: linear-gradient(0deg, rgba(36, 36, 36, .05) 0, rgba(36, 36, 36, .05) 100%), linear-gradient(97deg, #ed3cca .49%, #df34d2 14.88%, #d02bd9 29.27%, #bf22e1 43.14%, #ae1ae8 57.02%, #9a10f0 70.89%, #8306f7 84.76%, #7c1af8 99.15%);
      padding: 8px 0 16px 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
}

.header.fixed {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 9;
      padding-top: 16px;
}

.header__container {
      max-width: 1490px;
      padding: 0 32px;
      margin: 0 auto;
}

.header__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
}
.header__top.fixed {
      display: none;
}
.header__top-content  {
      display: flex;
      align-items: center;
      gap: 25px;
}

.header__top-content a {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      background-color: initial;
      border-color: initial;
      color: hsla(0, 0%, 100%, .6);
      transition: color .3s ease 0s;
}

.header__top-content a:hover { 
      color: rgba(255, 255, 255);
}


.header__top-content-lacation {
      position: relative;

      display: flex;
      align-items: center;
      gap: 5px;
}

.header__top-content-lacation svg {
      opacity: .6;
      transition: opacity .3s ease 0s;
}

.header__top-content-lacation:hover svg{
      opacity: 1;
}

.header__top-language-box {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;    
      background-color: hsla(0, 0%, 100%, .2);
      padding: 0px 4px 0px 21px;
      cursor: pointer;
      position: relative;
      border-radius: 8px;
}
.header__top-language-box:before {
      content: "";
      width: 11px;
      height: 11px;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 8px;
      background: url("./img/ru-flag.svg") no-repeat center;

}

.header__bottom {
      height: 58px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}


.logo{
      margin-top: 3px;
}


/* header-burger-btn */
    
.header-burger-btn {
      width: 58px;
      height: 58px;
      border: 1px solid rgba(255, 255, 255, .4);
      border-radius: 16px;
      margin-left: 20px;
      background-color: transparent;

      display: flex;
      flex-direction: column;
      gap: 6px;
      align-items: center;
      justify-content: center;
      transition: border-color .3s ease 0s;

      z-index: 1000;
} 

.header-burger-btn:hover {
      border: #fff 1px solid;
}
    
.header-burger-btn span {
      display: block;
      width: 26px;
      height: 3px;
      border-radius: 1px;
      background-color: #fff;
      border-radius: 3px;
      transition: transform .3s ease 0s;
}
.header-burger-btn.is_active span:nth-child(1) {
	transform: rotate(45deg) translate(6px, 6px);
}
.header-burger-btn.is_active span:nth-child(2) {
      opacity: 0;
}
.header-burger-btn.is_active span:nth-child(3) {
	transform: rotate(-45deg) translate(7px,  -6px);
}
.header__search-bar {
      flex: 1;
      margin-left: 12px;
      margin-right: 20px;
      position: relative;
}
.header__search-bar input {
      width: 100%;
      height: 58px;
      padding: 17px 100px 17px 20px;
      outline: none;
      border: 1px transparent;

      font-family: 'Segoe UI', sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: #242424;
      margin: 0;
      border-radius: 16px;
      background: #fff;
      -webkit-appearance: none;
      appearance: none;
      caret-color: #a73afd;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
}

::placeholder {
      color: #aeadb4;
      opacity: 1; /* Firefox */
}
    
::-ms-input-placeholder { /* Edge 12 -18 */
      color: #aeadb4;
}

.header__search-bar-photo {
     position: absolute;
     width: 28px;
     height: 28px;
     background-image: url("./img/photo.svg"); 
     background-repeat: no-repeat;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);
     cursor: pointer;
}

.header__left {
      display: flex;
      gap: 25px;
      color: #fff;
}

.header__left-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      font-size: 14px;
      font-weight: 400;
      color: rgba(255, 255, 255, .6);
      transition: color .3s ease 0s;
      cursor: pointer;
}   

.header__left-box:hover {
      color: #fff;
}  

.header__left-img{
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-position: center;
}

.location-img {
      background-image: url("./img/location.svg");
}
.profile-img {
      background-image: url("./img/profile.svg");
}
.basket-img {
      background-image: url("./img/basket.svg");
      background-size: cover;
}

/* bottom-menu */
.bottom-menu {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0 16px;
      background-color: #fff;
      box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
      width: 100%;
      display: none;

      z-index: 9999;
}

.bottom-menu a {
      width: 100%;
      height: 52px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      cursor: pointer;
}

.bottom-menu a img {
      width: auto;
      height: 90%;
      aspect-ratio: auto;
}
.bottom-menu__like-img {
      height: 80%!important;
}


/* bottom-menu */

@media screen and (max-width: 1199px) {
      .header__container {
            padding: 0 15px;
      }
      .logo img{
            max-width: 172px;
      }
      .logo{
            margin-top: 5px;
      }
}
@media screen and (max-width: 1024px) {
      .bottom-menu {
            display: flex;
      }
      
}
@media screen and (max-width: 1023px) {
      .logo,
      .header-burger-btn,
      .header__left-box:not(:first-child),
      .header__left-box p {
            display: none;
      }
      .header {
            padding: 12px 0;
      }
      .header.active {
            background: #fff!important;
      }
      .header.fixed {
            padding-top: 12px;
            position: absolute;
      }
      .header__top {
            display: none;
      }
      .header__bottom {
            height: auto;
      }

      .header.active .header__search-bar input{
            background-color: #f6f6f9;
      }
      .header.active .header__left {
            display: none;
      }
      .header.active .header__search-bar {
            margin-right: 0;
      }

      .header__container {
            height: 40px;
      }
      .header__search-bar input {
            font-size: 16px;
            height: 40px;
            padding: 8px 80px 10px 12px;
            border-radius: 12px;
      }
      .header__search-bar {
            flex: 1;
            margin-left: 0;
            margin-right: 14px;
      }
      .location-img {
            background-image: url("./img/location-2.svg");
      }
      .header__search-bar-photo {
            width: 24px;
            height: 24px;
            right: 12px;
      }
}


@media screen and (max-width: 374px) {
      .bottom-menu {
            padding: 0 4px;
      }
      .bottom-menu a {
            padding: 15px 0;
      }
      .bottom-menu a img {
            height: 90%;
      }
      .bottom-menu__basket-img {
            height: 100%!important;
      }
}