.overlay-bg {
      display: none;
      position: fixed;
      height: 100vh;
      top: 114px;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #2424245f;
      z-index: 9;
      user-select: none;

      opacity: 0;

      transition: all ease .3s;
}

.overlay-bg.top-style {
      top: 0!important;
}

.overlay-bg.active {
      display: block;
      opacity: .7;
      user-select: all;
}

@media screen and (max-width:1023px) {
      .overlay-bg {
            display: none;
      }
}